*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    color: white;
}
main{
    max-width: 900px;
    margin: 5% auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container1 img{
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
}
.box1 img{
    height: 400px;
    width: 500px;
    padding: 15px;
}
.box2{
    padding: 10px 10px 80px 10px;
}
.box2 h1{
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
}
.box2 p{
    padding-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}
.box2 a{
    border: 2px;
    margin: 20px 0;
    padding: 10px 50px;
    border-radius: 50px;
    text-decoration: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    box-shadow: 2px 2px 2px;
}
.box2 a:hover{
    background-color: hsl(300, 69%, 71%);
}
.socialLinks {
    text-align: right;
    margin: -40px 0 0 0;
}
.socialLinks a{
    margin: 0 10px 0 0;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 400;
    border: 1px solid;
    padding: 6.5px;
    border-radius: 50%;
}
.socialLinks a.fa-facebook-f{
    width: 30px;
    height: 30px;
}
.socialLinks a.fa-twitter{
    width: 30px;
    height: 30px;
}
.socialLinks a.fa-instagram{
    width: 30px;
    height: 30px;
}
.socialLinks a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
footer{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
@media screen and (max-width:600px) {
    body{
        background-image: url(../images/bg-mobile.svg);
        background-position: top;
    }
    main{
        width: 360px;
    }
    .container{
        flex-direction: column;
    }
    .container img{
        width: 360px;
        height: 300px;
    }
    .box2{
        text-align: center;
    }
    .box2 a{
        padding: 10px 80px;
    }
    .socialLinks{
        text-align: center;
        margin: 0 auto;
    }
    footer{
        margin-top: 50px;
    }
}
@media screen and (min-height:900px) and (min-width:768px){
    main{
        margin: 20% auto;
    }
    body{
        background-position: center;
    }
    
}